{% extends "rpds/base.html" %}
{% load static %}
{% block body %}
<section class="about-section text-center" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-white mb-4">RPDS</h2>
                        <p class="text-white-50">
                          Our platform provides a secure and transparent way for researchers to publish their work and receive recognition for their contributions to the field. With our decentralized system, research papers are stored on the Ethereum blockchain, ensuring that they cannot be tampered with or lost. Researchers can easily upload their papers and receive feedback from their peers through our peer review system. Additionally, our platform offers a rewards system for peer reviewers and authors, incentivizing participation and collaboration. Join our community of researchers and contribute to the advancement of knowledge in a decentralized and transparent manner.
                        </p>
                    </div>
                </div>
                <img class="img-fluid" src="{% static 'assets/img/ipad2.jpeg' %}" alt="..." />
            </div>
        </section>
 <!-- Projects-->
        <section class="projects-section bg-light" id="projects">
            <div class="container px-4 px-lg-5">
                <!-- Featured Project Row-->
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{%static 'assets/img/Research_Paper.jpg' %}" alt="..." /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>Research Papers</h4>
                            <p class="text-black-50 mb-0">Research papers are written documents that present the results of original research or studies conducted by scholars, scientists, or other experts in a particular field. They are typically published in academic journals or presented at conferences, and are often used to share new discoveries, theories, or insights with other researchers in the same field.</p>
                        </div>
                    </div>
                </div>
                <!-- Project One Row-->
                <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="{% static 'assets/img/block2.jpg' %}" alt="..." /></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">Blockchain</h4>
                                    <p class="mb-0 text-white-50">Blockchain technology is a distributed digital ledger technology that enables secure and transparent recording of transactions. A blockchain is a decentralized 0.database that is maintained and updated by a network of computers, rather than a single central authority.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Two Row-->
                <div class="row gx-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="{% static 'assets/img/web3.webp' %}" alt="..." /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">Web3 Technology</h4>
                                    <p class="mb-0 text-white-50">Web3, also known as web 3.0 or the decentralized web, is the next generation of the internet that aims to provide a more decentralized, secure, and open web.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}