{% load static %}
<script>
    function connectToMetaMask() {
        axios.post('{% url 'connect_metamask' %}', { connect: true })
            .then(response => {
                console.log(response.data);
                // Perform any additional actions based on the response
            })
            .catch(error => {
                console.log(error);
                // Handle any error that may occur during the request
            });
    }
</script>

<button onclick="connectToMetaMask()" class="btn btn-primary">Connect to MetaMask</button>
<script src="{% static 'js/axios.min.js' %}"></script>
