{% extends "rpds/base.html" %}
{% load static %}

{% block body %}
 <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <h1 class="mx-auto my-0 text-uppercase">RESEARCH PAPERS DECENTRALIZED SYSTEM(RPDS)</h1>
                        <h2 class="text-white-50 mx-auto mt-2 mb-2">Get or View Research Papers By Clicking the Get Started Button Below To Log In or SignUp</h2>
                        <a class="btn btn-primary" href="{% url 'login' %}">GET STARTED</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
{% endblock %}